<label for="">地區：</label>
<select name="InputPutArea"  >
    <% Areas.forEach((area)=>{ %>
        <option value="<%= area.area  %>"><%= area.area %></option>
        <% })  %>
        
        
    </select>
    
    <label for="">地方：</label>
    <input type="text" name="InputPutPlace" value="<%= place.place %>" placeholder="18區">