
<label for="">雙人</label>
<input type="text" name="InputPutMultiple" value="<%= nhs.multiple %>" >

<label for="">單人</label>
<input type="text" name="InputPutSingle"  value="<%= nhs.single %>" >

<label for="">公共</label>
<input type="text" name="InputPutPublic" value="<%= nhs.public %>" >