<a href="/Auth"></a>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Hangs</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="/styles.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="stylesheet" href="/nivo-slider.css" type="text/css" media="screen" />
    </head>
    <body>
  		
	
			<div class="container">
				
					
				
				
					<img src="/images/1.png"/>
					
				
				</div>
			</div>


			</div>




		</div>
		<div class="razd"></div>
		<div class="copyrights">Collect from <a href="http://www.moobnn.com/"  title="网站模板">网站模板</a></div>
        
		<div id="content">
			<div id="left">
				<h3>服務與宗旨</h3>
				<p>主力為長者及家人提供免費安老院轉介服務，協助家庭為長者配對合適的安老院。我們的創辦理念，是希望減輕照顧者因照顧老人帶來的精神及經濟壓力。
					我們提供全港院舍的詳盡資料，掌握各院舍質素,從而篩選並配對合適院舍。個案會有專人跟進及陪同參觀院舍，即場釐清院舍雜項及協助申請資助計劃,保障長者住院生活的質素。介紹的安老院最終使用與否，您絕對有自由的決定權。我們絕不收取服務費
				</p>
				<div class="left_razd"></div>
				<h4>協助申請資助</h4>
				<p>我們協助家庭經濟有困難的長者，申請各項資助，避免家屬因財政壓力而令長者得不到合適的照顧，藉此減低家人的財政及心理壓力</p>
			
		
			</div>
			</div>
			<div id="right">
				<div class="right_grad_box right_pad">
					<div class="right_bg_top"></div>
					<div class="right_bg">
						<h5>費用全免</h5>
						<p >整個安老院轉介服務過程，我們都不會向長者及家人收取任何費用</p>
						<br>
						<h5>過程簡潔</h5>
						<p >由咨詢到安排院舍參觀，最快即日安排</p>
						<br>
						<h5>聯絡我們</h5>
						<p >Phone：31639373</p>
						
					</div>
					<div class="right_bg_bot"></div>
				</div>
				
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="razd"></div>
		<div id="column3">
			<div id="col1">
				<h6>長者入住安老院的各項政府資助</h6>
				<ul class="ls">
					<li><a >入住安老院的基本綜援金額</a></li>
					<li><a >基本綜援金額 + 普通傷殘津貼</a></li>
					<li><a >基本綜援金額 + 高額傷殘津貼</a></li>
					<li><a >特別膳食津貼 (只限綜緩受助人申請)</a></li>
					<li><a >尿片 (只限綜緩受助人申請)</a></li>
				</ul>
			</div>
			<div id="col2">
				<h6>長者入住安老院的各項政府資助</h6>
				<ul class="ls">
					<li><a >資產不超過$52000，包括銀行戶口儲款、定期、股票及黃金等</a></li>
					<li><a >沒有物業</a></li>
					<li><a >在申請日前如離港不超過90天(不論連續或間斷)亦視為符合居港一年的規定</a></li>
					
				</ul>
			</div>
			<div id="col3">
				<h6>其他政府津貼</h6>
				<ul class="ls">
					<li><a >普通傷殘津貼</a></li>
					<li><a >高額傷殘津貼</a></li>
					<li><a >生果金</a></li>
					<li><a >長者生活津貼</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="razd"></div>
		<div id="footer">
			<p> <a>E-mail: info@hangs-tech.pro</a></p>
		        <p><a>Room B ,7/F ,Sun Shine Centre,61-63 Portland Street,Yau Ma Tei,KLN</a></p>
		</div>
    </body>
</html>

<!