<%- include('./partials/_header.ejs')  %>



<form action="/addadmin/PutAreaForm/<%= area._id%>?_method=PUT" method="post">
    
    <%- include('./partials/_AreaPutForm.ejs')  %>
    
    <button>Submit</button>
</form>


