<%- include('./partials/_header.ejs')  %>


<form action="/addadmin/SearchNHBooking/:key" method="post">
    <input type="text"  name="nameNH" placeholder="院名" >

    <button type="submit">查</button>
</form>