<nav>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/login">Log in</a></li>
</nav>


<h1>Register</h1>
<form action="/auth/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
<button>提交</button>
</form>