<a href="/addadmin/GetSearch">返回搜查</a>


    <%  datas.forEach((data)=>{  %>
        
        <div>
            客人資料:
            <p> 姓名 : <%= data.name %></p>
            <p> 電話 : <%= data.phone  %> </p>
            <p> 醫院 : <%= data.hospital  %>  </p>
        </div>
    <% }) %>



